/* RESET CSS */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* END RESET CSS */

body {
  min-height: 100vh;
  padding: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url(images/background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

/* HEADER */

#header {
  grid-column-start: 1;
  grid-column-end: 9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-height: 48px;
}

#tickethack {
  margin-left: 32px;
}

.tickethack-link {
  color: #66a691;
  font-size: 17px;
  font-weight: bold;
  padding: 8px 16px;
  text-decoration: none;
}

#bookings {
  margin-right: 32px;
}

.bookings-link {
  color: #080808;
  font-size: 14px;
  text-decoration: none;
  padding: 8px 16px;
}


/* MAIN CONTENT */

.bigwhite {
  color: white;
  text-align: center;
  font-size: 32px;
  width: 90%;
  margin: 32px auto 16px;
}

.littlewhite {
  color: white;
  text-align: center;
  font-size: 20px;
  width: 90%;
  margin: 0 auto 32px;
}

#content-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  margin: auto;
}

@media (max-width: 800px) {
  #content-container {
    flex-direction: column;
  }

  #content-left {
    margin-bottom: 32px;
  }

  #content-right {
    margin-bottom: 32px;
  }
}

/* LEFT PART */

#content-left {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  min-width: 320px;
  min-height: 360px;
  position: relative;
}

#add-section {
  display: flex;
  flex-direction: column;
}

input {
  background-color: #f2f3f3;
}

#departure {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: #525453;
}

hr {
  border: 1px solid #b4b5b5;
  width: 98%;
  margin: 1px auto;
}

#arrival {
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 5px;
  border: none;
  font-size: 16px;
  color: #525453;
}

#dateSelection {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  color: #525453;
}

#btn-search {
  padding: 10px 90px;
  font-size: 15px;
  text-align: center;
  border-radius: 5px;
  background-color: #66a691;
  color: white;
  border: none;
  position: absolute;
  bottom: 32px;
  left: 50%;
  transform: translate(-50%);
  width: calc(100% - 32px);
}

/* RIGHT PART */

#content-right {
  background-color: white;
  padding: 16px;
  border-radius: 8px;
  min-width: 320px;
  min-height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#right-img-container {
  width: 120px;
  margin: 0 auto;
}

#img-train {
  width: 100%;
}

#content-right > hr {
  margin: 32px auto;
  border: 1px solid #66a692;
  width: 75%;
}

#text-result {
  text-align: center;
}



/* PAGE CART.HTML ET BOOKING.HTML*/

body.body-cart {
  background-image: none;
  background-color: #f2f3f3;
}

.cart-container {
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cart {
  background-color: #FFFFFF;
  text-align: center;
  width: 65%;
  padding: 16px 0;
  border-radius: 10px 10px 0 0;
}

.cart p {
  color: #080808;
  padding: 16px 0;
}

h3.single-trip-title {
  text-align: center;
  padding: 16px 0;
}

.single-trip {
  padding: 16px;
  background-color: #f6f1f0;
  width: 90%;
  margin: 16px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
}

button.remove-trip {
  background-color: #66a692;
  border: none;
  color: #ffffff;
  width: 32px;
  height: 32px;
  border-radius: 5px;
}

.footer-cart {
  background-color: #051544;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  padding: 24px 48px;
  border-radius: 0 0 10px 10px;
}

.total-cart {
  color: #ffffff;
}

button#purchaseCart {
  background-color: #66a692;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
}

/* PAGE BOOKING.HTML */

.footer-booking {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
  margin: 0 auto;
  padding: 24px 48px;
  border-radius: 0 0 10px 10px;
  color: #66a692;
  text-align: center;
}

.footer-booking hr {
  width: 20%;
  margin: 0 auto;
}

.footer-booking p {
  margin-top: 8px;
  padding: 16px 0;
}
